<div class="container">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="col-md-3 mb-2 mb-md-0">
			<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
				<img src="{{ asset('build/images/logo-moviz.png') }}" alt="Logo moviz" height="36">
			</a>
		</div>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li>
				<a href="{{ path('app_home') }}" class="nav-link px-2 {{ app.current_route == 'app_home' ? 'link-secondary' : '' }}">Accueil</a>
			</li>
			<li>
				<a href="{{ path('app_movie') }}" class="nav-link px-2 {{ app.current_route starts with 'app_movie' ? 'link-secondary' : '' }}">Films</a>
			</li>
			{% if app.user and is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('admin') }}" class="nav-link px-2 {{ app.current_route == 'admin' ? 'link-secondary' : '' }}">Admin</a>
				</li>
			{% endif %}
		</ul>

		<div class="col-md-3 text-end">
			{% if not app.user %}
				<a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Connexion</a>
				<a href="" class="btn btn-primary">S'inscrire</a>
			{% else %}
				<a href="{{ path('app_logout') }}" class="btn btn-outline-primary me-2">Se déconnecter</a>
			{% endif %}
		</div>
	</header>
</div>
